body {
    font-size: 16px;
    background-color: #ffffff;
    font-family: sans-serif;

}

h1 {
    font-size: 2em;
    margin: 1.5em 0;

    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 1.6em;
    margin: 1.5em 0;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    margin: 1.5em 0;
    text-align: center;

}

p {
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 1.2em;
    text-align: center;
}

.inner-wrapper {
    width: 70%;
    margin: 0 auto;
}

header,
footer {
    color: white;
    background-image: url(../images/Hero.webp);
    padding: 2em 0;
}

.hero {
    text-align: center;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;

}

img {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}

main {
    margin-bottom: 2em;
}

.test {
    font-size: 200%;
}
